<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
      <parameter name="browser" value="GC"/>   
  
    <classes>
          <class name="selenium.Annotation_parameter"/>
    
      <class name="selenium.Priority_testng"/>
       <class name="selenium.dropdown"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
